/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: sans-serif;
}

main {
  padding: 40px; /* Incrementado de 20px a 40px para más espacio general */
  max-width: 1200px; /* Opcional: Limitar el ancho máximo del contenido para mejorar la legibilidad en pantallas grandes */
  margin: 0 auto; /* Centrar el contenido si se define un max-width */
}


/* Estilos de la visualizacion de bits: */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f8f9fa;
  color: #333;
}

p {
  font-size: 18px;       /* Tamaño de la letra */
  line-height: 1.7;      /* Altura de línea (1.7) veces el tamaño de la fuente) */
  padding-top: 20px;
  margin-bottom: 40px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.canvas-container canvas {
  width:100%;  
  border: 1px solid #ccc;
  background-color: #ffffff;
}

.canvas-container {
  height: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  main {
    padding: 20px;
    padding-bottom: 20px !important;
  }

  h1 {
    margin-bottom: 30px; /* Reducir el margen del título en móviles */
  }

  p {
    margin-bottom: 15px; /* Reducir el margen de los párrafos en móviles */
  }
  
  .canvas-container {
    max-width: 100%;
  }

  canvas {
    max-width: 100%;
    height: auto !important;
  }
}